.container {
  background-color: #0f172a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Heading */
.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.img-container {
  gap: 20px;
}

.image {
  width: 150px;
  height: auto;
}
