.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5d0fe;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 7px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.input {
  width: 100%;
  padding: 7px;
  border: 1px solid #cbd2d9;
  margin-right: 20px;
  outline: none;
  color: #323f4b;
}
.button {
  background-color: #d946ef;
  color: #ffffff;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  outline: none;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 4px;
}
.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.paragraph {
  margin-right: 50px;
}
